@charset "utf-8";

body {
	height: 100%;
    padding: 0;
	background-color:#36393D;
	font-family: Verdana, "Bitstream Vera Sans", sans-serif;
	text-align: left;
	color:#FFFFFF;
	max-width: 40em;
	margin-left: 2em;
}

h1, h2, h3, h4 {
	font-weight: normal;
	line-height: 1.6em;
}

h1 {
	font-size: 1.6em;
	margin: 2em 0 1em 0;
}

h2 {
	font-size: 1.2em;
	margin: 2em 0 0.5em 0;
	text-transform: uppercase;
}

h3 {
	font-size: 1.0em;
	margin: 2em 0 0.5em 0;
}

h4 {
	font-size: 0.9em;
	margin: 2em 0 0.25em 0;
}

p, ul, ol {
	font-family: "Gill Sans", "Gill Sans Std", "Gill Sans MT", Verdana, "Bitstream Vera Sans", sans-serif;
	border-top: 1.0em;
	font-size: 0.8em;
	line-height: 1.4em;
}

p {
	margin: 0 0 0.6em 0;
	padding: 0;
}

ul, ol {
	margin: 0.2em 0 0.8em 0;
	padding-left: 2.3em;
}

li, li ul, li li ul {
	line-height: 1.2em;
	font-size: 0.8em;
	font-size: 100%;
}

hr {
	color: #4a525c;
	background-color: #4A525C;
	border: 0;
	width: 80%;
	height: 0.1em;
}

code {
	font-family: Monaco, ProFont, "Bitstream Vera Sans Mono", "American Typewriter", "Andale Mono",monospace;
	font-size: 0.7em;
	line-height: 1.1em;
    color: #fff;
    background-color: #3E454C;

	padding: 0;
	margin: 0;
	border: 2px solid #4A525C;
	width: 100%;
	height: 30%;
	overflow: auto;
	/*overflow-Y: hidden;  /*--Hides vertical scroll created by IE--*/
}

pre code {
	margin: 0 0 0 0px;
	padding: 18px 0;
	display: block;
}

a {
	text-decoration: none;
}

a:link {
	color: #DDDDDD;
	border-color: #888888;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
	padding: 2px 0px 0px 0px;
	background-color: inherit;
}

a:visited {
	color: #DDDDDD;
	border-color: #999999;
	border-width: 0 0 1px 0;
	border-style: none none dotted none;
	padding: 2px 0px 0px 0px;
	background-color: inherit;
}

a:hover {
	color: white;
	background-color: #606870;
	border-color: #606870;
}

a em {
	padding-bottom: 3px;
}

/* See: http://www.themaninblue.com/writing/perspective/2005/08/29/ */
#nonFooter {
	position: relative;
	min-height: 20%;
	margin-top: 5em;
}

#nonFooter, #footer {
	font-family: "Gill Sans", "Gill Sans Std", "Gill Sans MT", Verdana, "Bitstream Vera Sans", sans-serif;
	border-top: 1.0em;
	font-size: 0.8em;
	line-height: 1.4em;
    padding: 0;
}

* html #nonFooter {
	height: 20%;
}

#content {
	padding-bottom: 9em;
}

#footer {
	position: relative;
	margin-top: -7.5em;
}